<div class="container-fluid myContainer">
    <div class="row">
      <mat-radio-group class="radio-group" [(ngModel)]="userChoice">
        <div class="col-11" align="center">
          <mat-radio-button color="primary" class="radioButton" *ngFor="let possibility of possibilities"
                            [value]="possibility"
                            (change)="onItemChange(possibility)">{{possibility}}</mat-radio-button>
        </div>
        <div class="col-1" align="right">
          <button mat-raised-button (click)="addEntry()">Send</button>
        </div>
      </mat-radio-group>
      <div class="col-6">
        <app-pie-chart align="right"></app-pie-chart>
      </div>
    </div>
</div>

