.content{
  padding-top: 100px;
  width: 100%;
}
.radio-group{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 10%;
}
.radioButton{
  margin-right: 10px;
}
.button{
  margin-bottom: 10px;
}
.moodRadioRow{
  background-color: #fafafa;
}
.myContainer{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.myCol{
  background-color: aliceblue !important;
}

